In [1]:
import numpy as np
import pandas as pd
from random import sample 
import matplotlib.pyplot as plt
from apriori_python import apriori

In [3]:
file =r"D:\bigdata\RSC\day1\workshop1\Groceries_dataset.csv"
trans = pd.read_csv(file) # load in the purchase tranactions
trans

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [10]:
trans.columns=['user','datatime','item']
all_item_list=np.unique(trans.item)

## grouby 形成一个 basket，记录所有 user 的 item

In [11]:
basket=trans.groupby('user')['item'].apply(list)
basket

user
1000    [soda, canned beer, sausage, sausage, whole mi...
1001    [frankfurter, frankfurter, beef, sausage, whol...
1002    [tropical fruit, butter milk, butter, frozen v...
1003    [sausage, root vegetables, rolls/buns, deterge...
1004    [other vegetables, pip fruit, root vegetables,...
                              ...
4996    [dessert, salty snack, rolls/buns, misc. bever...
4997    [tropical fruit, white wine, whole milk, curd,...
4998                                   [rolls/buns, curd]
4999    [bottled water, butter milk, tropical fruit, b...
5000    [soda, bottled beer, fruit/vegetable juice, ro...
Name: item, Length: 3898, dtype: object